html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@media (max-width:768px) {
body {
  font-size: 50%;
}
}

.jumbotron {
   background: #54446C;
   padding-top: 100px;
   color: #fff;
}

.headline {
   font-family: 'Alex Brush', cursive;
}

.cursive {
   font-family: 'Alex Brush', cursive;
}

.lead {
   font-family: 'Lato', sans-serif;
}

.map-text {
    color: #fff;
}

.map-text h1 {
    font-size: 90px;
}

.map-text p {
    font-size: 36px;
}

/* @media (max-width:1080px) { */
/*   .map-text h1 { */
/*     font-size: 54px; */
/*   } */

/*   .map-text p { */
/*     font-size: 18px; */
/*   } */
/* } */

a {
   color: #54446C;
}

a:hover {
   color: #54446C;
}

a:visited {
   color: #54446C;
}

body {
  position: relative;
}

.icon-bar {
  padding-top: 40px;
  padding-bottom: 10px;
}

.btn, .btn:visited {
  color: #54446C;
}

.btn:hover, .btn:focus {
  color: #54446C;
}

.anchor {
   margin-top: -50px;
   padding-top: 50px;
   padding-bottom: 100px;
}

.navbar-default {
  background-color: #54446C;
  border-color: #54446C;
  font-size: 15px;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
}

.navbar-default .navbar-toggle {
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #A0DDAD;
  background-color: #54446C;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #A0DDAD;
  background-color: #54446C;
}

.navbar-default .navbar-toggle {
  border-color: #54446C;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  color: #A0DDAD;
  background-color: #54446C;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-default .navbar-link {
  color: #fff;
}

.navbar-default .navbar-link:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #54446C;
  }
}

.navbar-label {
  padding-left: 10px;
}

.navbar-toggle {
  max-height: 30px;
}

.navbar-default .navbar-collapse
{
  border-top:none;
  box-shadow:none;
}
.homepage-header {
  position:relative;
  color:#fff;
  text-align:left;
  text-shadow:0 1px 0 rgba(0,0,0,.1);
  background-color:#54446C;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  overflow: false;
}

.map-text h1 {
    font-size: 96px;
    padding-top: 150px;
}

.map-text p {
    font-size: 36px;
}

.map-text .small {
    font-size: 20px;
    margin-top: 90px;
}

.homepage-header h1 {
  font-size: 96px;
}

.homepage-header p {
  font-size: 24px;
}

@media (max-width:768px) {
  .map-text h1 {
      font-size: 48px;
  }

  .map-text p {
      font-size: 20px;
  }

  .homepage-header h1 {
    font-size: 54px;
  }

  .homepage-header p {
    font-size: 18px;
  }
}

.dataTables-wrapper {
  padding: 15px 0px;
}

.table-responsive {
  border: none !important;
}

/* #map-canvas { */
/*   width: 100%; */
/*   height: 200px; */
/* } */

.white, .white:visited, .white:hover, .white:focus {
    color: #fff;
}
.purple , .purple:visited, .purple:hover, .purple:focus {
    color: #54446C;
}
